#category {
    width: 30%;
    display: inline-block;
    position: relative;
    background-color: #777;
    color: white;
    font-size: 16px;
}
#myCarousel {
    width: 65%;
    display: inline-block;
}